.dark-theme,
html[data-theme='dark'] {
  --bg-color: hsl(220, 16%, 22%);
  --bg-dk-1: hsl(220, 16%, 20%);
  --bg-dk-2: hsl(220, 16%, 18%);
  --bg-dk-3: hsl(220, 16%, 16%);
  --bg-lg-1: hsl(220, 16%, 24%);
  --bg-lg-2: hsl(220, 16%, 26%);
  --bg-lg-3: hsl(220, 16%, 28%);
  --cd-pri: hsl(213, 32%, 52%);
  --cd-pri-dk-1: hsl(213, 32%, 48%);
  --cd-pri-dk-2: hsl(213, 32%, 44%);
  --cd-pri-dk-3: hsl(213, 32%, 40%);
  --cd-pri-lg-1: hsl(213, 32%, 56%);
  --cd-pri-lg-2: hsl(213, 32%, 60%);
  --cd-pri-lg-3: hsl(213, 32%, 64%);
  --cd-opal: #8FBCBB;
  --cd-air-superiority-blue: #81A1C1;
  --cd-dark-sky-blue: #88C0D0;
  --cd-fuzzy-wuzzy: #BF616A;
  --cd-copper-crayola: #D08770;
  --cd-gold-crayola: #EBCB8B;
  --cd-dark-sea-green: #A3BE8C;
  --cd-opera-mauve: #B48EAD;
  --ls-primary-background-color: var(--bg-color);
  --ls-secondary-background-color: var(--bg-dk-1);
  --ls-tertiary-background-color: var(--bg-dk-2);
  --ls-quaternary-background-color: var(--bg-dk-3);
  --ls-table-tr-even-background-color: var(--bg-lg-1);
  --ls-active-primary-color: var(--cd-opal);
  --ls-active-secondary-color: var(--cd-dark-sky-blue);
  --ls-block-properties-background-color: var(--bg-lg-1);
  --ls-page-properties-background-color: var(--bg-lg-1);
  --ls-block-ref-link-text-color: var(--cd-air-superiority-blue);
  --ls-search-background-color: linear-gradient(
    to right,
    hsl(220, 16%, 22%) 0,
    hsl(220, 16%, 26%) 200px,
    hsl(220, 16%, 30%) 100%
  );
  --ls-mark-bg-color: var(--cd-opera-mauve);
  --ls-mark-color: var(--bg-color);
  --ls-border-color: var(--cd-opal);
  --ls-secondary-border-color: #126277;
  --ls-guideline-color: var(--cd-opal);
  --ls-menu-hover-color: var(--ls-secondary-background-color);
  --ls-primary-text-color: #ECEFF4;
  --ls-secondary-text-color: #ECEFF4;
  --ls-title-text-color: var(--cd-opal);
  --ls-link-text-color: var(--cd-dark-sky-blue);
  --ls-link-text-hover-color: var(--cd-dark-sky-blue);
  --ls-link-ref-text-color: var(--cd-air-superiority-blue);
  --ls-link-ref-text-hover-color: var(--cd-pri-lg-3);
  --ls-tag-text-color: var(--cd-pri-lg-3);
  --ls-tag-text-hover-color: var(--cd-pri-dk-3);
  --ls-slide-background-color: var(--ls-primary-background-color);
  --ls-block-bullet-border-color: var(--bg-lg-2);
  --ls-block-bullet-color: hsl(220, 16%, 36%);
  --ls-block-highlight-color: var(--bg-lg-3);
  --ls-selection-background-color: var(--cd-opera-mauve);
  --ls-page-checkbox-color: var(--cd-opera-mauve);
  --ls-page-checkbox-border-color: var(--ls-primary-background-color);
  --ls-page-blockquote-color: var(--ls-primary-text-color);
  --ls-page-blockquote-bg-color: var(--ls-secondary-background-color);
  --ls-page-blockquote-border-color: var(--ls-border-color);
  --ls-page-inline-code-color: var(--cd-dark-sea-green);
  --ls-page-inline-code-bg-color: var(--bg-dk-3);
  --ls-scrollbar-foreground-color: var(--cd-opal);
  --ls-scrollbar-background-color: var(--bg-dk-3);
  --ls-scrollbar-thumb-hover-color: var(--cd-copper-crayola);
  --ls-head-text-color: var(--ls-link-text-color);
  --ls-cloze-text-color: var(--cd-pri);
  --ls-icon-color: var(--cd-dark-sky-blue);
  --ls-search-icon-color: var(--ls-link-text-color);
  --ls-a-chosen-bg: var(--ls-secondary-background-color);
  --ls-right-sidebar-code-bg-color: var(--bg-dk-3);
  --color-level-1: var(--ls-secondary-background-color);
  --color-level-2: var(--ls-tertiary-background-color);
  --color-level-3: var(--ls-quaternary-background-color);
  --color-level-4: var(--bg-lg-1);
  --color-level-5: var(--bg-lg-2);
  --color-level-6: var(--bg-lg-3);
}

.white-theme,
html[data-theme='light'] {
  --bg-color: #ECEFF4;
  --bg-dk-1: #E5E9F0;
  --bg-dk-2: #D8DEE9;
  --bg-dk-3: #C3CCDD;
  --bg-lg-1: #DBE0EB;
  --bg-lg-2: #DDE3EC;
  --bg-lg-3: #E0E5EE;
  --cd-pri: hsl(213, 32%, 52%);
  --cd-pri-dk-1: hsl(213, 32%, 48%);
  --cd-pri-dk-2: hsl(213, 32%, 44%);
  --cd-pri-dk-3: hsl(213, 32%, 40%);
  --cd-pri-lg-1: hsl(213, 32%, 56%);
  --cd-pri-lg-2: hsl(213, 32%, 60%);
  --cd-pri-lg-3: hsl(213, 32%, 64%);
  --cd-opal: #8FBCBB;
  --cd-air-superiority-blue: #81A1C1;
  --cd-dark-sky-blue: #88C0D0;
  --cd-fuzzy-wuzzy: #BF616A;
  --cd-copper-crayola: #D08770;
  --cd-gold-crayola: #EBCB8B;
  --cd-dark-sea-green: #A3BE8C;
  --cd-opera-mauve: #B48EAD;
  --ls-primary-background-color: var(--bg-color);
  --ls-secondary-background-color: var(--bg-dk-1);
  --ls-tertiary-background-color: var(--bg-dk-2);
  --ls-quaternary-background-color: var(--bg-dk-3);
  --ls-table-tr-even-background-color: var(--bg-dk-3);
  --ls-active-primary-color: var(--cd-opal);
  --ls-active-secondary-color: var(--cd-dark-sky-blue);
  --ls-block-properties-background-color: var(--bg-dk-3);
  --ls-page-properties-background-color: var(--bg-dk-3);
  --ls-block-ref-link-text-color: var(--cd-air-superiority-blue);
  --ls-search-background-color: linear-gradient(
    to right,
    hsl(220, 16%, 22%) 0,
    hsl(220, 16%, 26%) 200px,
    hsl(220, 16%, 30%) 100%
  );
  --ls-mark-bg-color: var(--cd-opera-mauve);
  --ls-mark-color: var(--bg-color);
  --ls-border-color: var(--cd-opal);
  --ls-secondary-border-color: #126277;
  --ls-guideline-color: var(--cd-opal);
  --ls-menu-hover-color: var(--ls-secondary-background-color);
  --ls-primary-text-color: #3B4252;
  --ls-secondary-text-color: #3B4252;
  --ls-title-text-color: var(--cd-air-superiority-blue);
  --ls-link-text-color: var(--cd-dark-sky-blue);
  --ls-link-text-hover-color: var(--cd-dark-sky-blue);
  --ls-link-ref-text-color: var(--cd-pri-lg-3);
  --ls-link-ref-text-hover-color: var(--cd-pri-lg-3);
  --ls-tag-text-color: var(--cd-pri-lg-3);
  --ls-tag-text-hover-color: var(--cd-pri-dk-3);
  --ls-slide-background-color: var(--ls-primary-background-color);
  --ls-block-bullet-border-color: var(--bg-dk-2);
  --ls-block-bullet-color: hsl(220, 16%, 68%);
  --ls-block-highlight-color: var(--bg-lg-3);
  --ls-selection-background-color: var(--cd-opera-mauve);
  --ls-page-checkbox-color: var(--cd-opal);
  --ls-page-checkbox-border-color: var(--ls-primary-background-color);
  --ls-page-blockquote-color: var(--ls-primary-text-color);
  --ls-page-blockquote-bg-color: var(--ls-secondary-background-color);
  --ls-page-blockquote-border-color: var(--ls-border-color);
  --ls-page-inline-code-color: var(--cd-air-superiority-blue);
  --ls-page-inline-code-bg-color: var(--bg-lg-2);
  --ls-scrollbar-foreground-color: var(--cd-opal);
  --ls-scrollbar-background-color: var(--bg-dk-3);
  --ls-scrollbar-thumb-hover-color: var(--cd-copper-crayola);
  --ls-head-text-color: var(--ls-link-text-color);
  --ls-cloze-text-color: var(--cd-pri);
  --ls-icon-color: var(--cd-dark-sky-blue);
  --ls-search-icon-color: var(--ls-link-text-color);
  --ls-a-chosen-bg: var(--ls-secondary-background-color);
  --ls-right-sidebar-code-bg-color: var(--bg-lg-2);
  --color-level-1: var(--ls-secondary-background-color);
  --color-level-2: var(--ls-tertiary-background-color);
  --color-level-3: var(--ls-quaternary-background-color);
  --color-level-4: var(--bg-lg-1);
  --color-level-5: var(--bg-lg-2);
  --color-level-6: var(--bg-lg-3);
}

.bg-indigo-600 {
  background-color: var(--cd-air-superiority-blue);
}

.dark-theme .CodeMirror.cm-s-solarized.cm-s-dark {
  background-color: var(--bg-dk-3);
}
html[data-theme='dark'] .CodeMirror {
  border: 3px solid var(--bg-dk-1);
}
.white-theme .CodeMirror.cm-s-solarized.cm-s-white {
  background-color: var(--bg-lg-3);
}
html[data-theme='light'] .CodeMirror {
  border: 3px solid var(--bg-dk-2);
}

.dark-theme .CodeMirror-gutter,
.dark-theme .CodeMirror-lines,
.dark-theme .CodeMirror-scroll,
.dark-theme .CodeMirror-sizer {
  background-color: var(--bg-dk-3);
}
html[data-theme='light'] .CodeMirror-gutter,
.CodeMirror-lines,
.CodeMirror-scroll,
.CodeMirror-sizer {
  background-color: var(--bg-lg-3);
}

.page-ref {
  font-weight: 300;
}

.page-reference .bracket {
  font-weight: 300;
  color: var(--cd-opera-mauve);
  opacity: 0.4;
}

mark {
  background-color: var(--ls-mark-bg-color);
  color: var(--ls-mark-color);
}

html[data-theme=light] .cp__right-sidebar :not(pre)>code, html[data-theme=dark] .cp__right-sidebar :not(pre)>code {
  background-color: var(--ls-right-sidebar-code-bg-color);
}